.botao {
    background-color: #9885F0;
    color: #fff;
    font-weight: 200;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.62rem 1.56rem;
    margin-top: 2.5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

/*cresce o botão quando passar o mouse por cima*/
.botao:hover {
    transform: scale(1.1);
}