.estatistica {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.6rem;
}

.valor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11rem;
    width: 11rem;
    border-radius: 5.6rem;
    font-size: 4rem;
}

.texto {
    color: #ddd;
    font-size: 1.7rem;
    font-weight: 200;
}