.resposta {
    display: flex;
    min-width: 31.25em;
    width: 80%;
    height: 6.25em;
    margin: 0.5em;
    perspective: 1000px;
}

.conteudoResposta {
    position: relative;
    display: flex;
    flex: 1;
    transition: transform 0.8s;
    transform-style: preserve-3d; /*sem essa propriedade o conteudo só gira, sem manter os styles*/
}

/*como estão no mesmo componente precisam estar juntas*/
.respostaRevelada.conteudoResposta{
    transform: rotateY(180deg);
}

.frente, .verso {
    position: absolute; /*posição com relação ao conteudoResposta e usa como eixo para rotação o centro da resposta*/
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden; /*mantem escondido a parte de tras*/
    backface-visibility: hidden;
}

.frente {
    align-items: center;
    border-radius: 0.75em;
    padding: 1em;
    color: #000;
    background-color: #fff;
}

.verso {
    transform: rotateY(180deg);
}

.verso > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 0.75em;
}

.certa {
    background-color: #2BAA6D;
}

.errada {
    background-color: #E44A4C;
}

.certa .valor, .errada .valor{
    font-size: 1.5rem;
}

.letra {
    display: flex;
    justify-content: center; /*eixe x*/
    align-items: center; /*eixe y*/
    height: 2.5em;
    width: 2.5em;
    border-radius: 1.25em;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 1em;
    color: #fff;
    -webkit-text-stroke: 0.03em #000;
}

.valor {
    font-size: 1.3rem;
    font-weight: 700;
}